<div class="container">
    <div class="d-flex">
        <div class="p-2 flex-shrink-1">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event)" placeholder="Search...">
            </mat-form-field>
            <h2>Filter:</h2>
            <h3>Brand</h3>
            <ul>
                <li *ngFor="let brand of brands">
                    <mat-checkbox (change)="something($event.checked, brand)">
                        {{brand}}
                    </mat-checkbox>
                </li>
            </ul>
        </div>
        <div class="p-2 w-600">
            <h2>Our Products</h2>
            <div fxLayout="row wrap" fxLayoutGap="25px grid">
                <div *ngFor="let guitar of filteredProducts">
                    <mat-card (click)="productDetails(guitar.id)">
                        <mat-card-header>
                            <mat-card-title>{{guitar.brand}} {{guitar.name}}</mat-card-title>
                            <mat-card-subtitle>{{guitar.price | currency: 'USD'}}</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="{{guitar.imageUrl}}" width="350" height="500">
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>
