<div class="container">
    <div class="container-fluid d-flex flex-row mb-3">
        <img class="p-2" src="{{product.imageUrl}}" height="750px" width="550px">
        <div class="p-2 flex-column mb-3 flex-grow-1">
            <h1 class="text-white">{{product.brand}} {{product.name}}</h1>
            <h4 class="text-white">{{product.price | currency: 'USD'}}</h4>
            <br>
            <p class="text-white">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id hic provident iste, minus dolores qui dolore doloremque magni incidunt iure reiciendis quam fugiat, suscipit accusantium? Distinctio nobis cupiditate accusantium numquam!</p>
            <div *ngIf="isInCart; then removeBlock else addBlock"></div>
            <ng-template #addBlock>
                <button type="button" (click)="addToCart()" class="btn btn-dark">Add to cart</button>
            </ng-template>
            <ng-template #removeBlock>
                <button type="button" (click)="removeFromCart()" class="btn btn-danger">Remove from cart</button>
            </ng-template>
        </div> 
    </div>
</div>

<div>
    <mat-tab-group dynamicHeight>
        <mat-tab label="Specifications">
            <span>Specs:</span>
            <mat-list>
                <mat-list-item>
                    <span matListItemTitle>Color:</span>
                    <span matListItemLine>{{product.specification.color}}</span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>Number of Strings:</span>
                    <span matListItemLine>{{product.specification.strings}}</span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>Scale Length:</span>
                    <span matListItemLine>{{product.specification.scaleLength}}"</span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>Number of Frets:</span>
                    <span matListItemLine>{{product.specification.numberOfFrets}}</span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>Body Type:</span>
                    <span matListItemLine>{{product.specification.bodyType}}</span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>Body Wood:</span>
                    <span matListItemLine>{{product.specification.bodyWood}}</span>
                </mat-list-item>
            </mat-list>
        </mat-tab>
        <mat-tab label="About">
            <span>About the product</span>
            <mat-list>
                <mat-list-item>
                    <span matListItemTitle>Brand:</span>
                    <span matListItemLine>{{product.brand}}</span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>Condition:</span>
                    <span matListItemLine>{{product.condition}}</span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>Type:</span>
                    <span matListItemLine>{{product.type}}</span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>Model:</span>
                    <span matListItemLine>{{product.name}}</span>
                </mat-list-item>
            </mat-list>
        </mat-tab>
    </mat-tab-group>
</div>
