<div class="details-container">
    <img src="{{product.imageUrl}}" height="750px" width="550px">
    <div>
        <h1>{{product.brand}} {{product.name}}</h1>
        <span>{{product.price | currency: 'USD'}}</span>
        <br>
        <div *ngIf="isInCart; then removeBlock else addBlock"></div>
        <ng-template #addBlock>
            <button type="button" (click)="addToCart()" class="btn btn-dark">Add to cart</button>
        </ng-template>
        <ng-template #removeBlock>
            <button type="button" (click)="removeFromCart()" class="btn btn-danger">Remove from cart</button>
        </ng-template>
    </div> 
</div>

<div>
    <mat-tab-group dynamicHeight>
        <mat-tab label="Specifications">
            <span>Specs:</span>
            <mat-list>
                <mat-list-item>
                    <span matListItemTitle>Color:</span>
                    <span matListItemLine>{{product.specification.color}}</span>
                </mat-list-item>
            </mat-list>
        </mat-tab>
        <mat-tab label="About">
            <span>About the product</span>
            <mat-list>
                <mat-list-item>
                    <span matListItemTitle>Brand:</span>
                    <span matListItemLine>{{product.brand}}</span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>Condition:</span>
                    <span matListItemLine>{{product.condition}}</span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>Type:</span>
                    <span matListItemLine>{{product.type}}</span>
                </mat-list-item>
            </mat-list>
        </mat-tab>
    </mat-tab-group>
</div>
