<div class="container">
    <div *ngFor="let item of cart.items; index as i">
        <span class="d-block p-2">
            <img src="{{item.imageUrl}}" class="img-fluid img-thumbnail" height="50px" width="50px">
            <div class="d-inline p-2">
                <span class="d-block p-2">{{item.brand}} {{item.name}}</span>
                <span class="d-block p-2">{{item.price | currency: 'USD'}}</span>
                <h5 class="d-block p-2">Condition: {{item.condition}}</h5>
                <button (click)="removeItemFromCart(i)" class="btn btn-danger">Remove</button>
            </div>
        </span>
    </div>
    
    
    <button (click)="clearCart()" class="btn btn-danger">Empty Cart</button>
    
    <div class="my-5">
        <button><a href="/checkout">Checkout</a></button>
    </div>

</div>
